@import "./variables.module.scss";
@import "./breakpoints.module.scss";

.category-list {
  padding: 0px 48px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  gap: 41px;

  @include sm {
    padding: 0px 20px;
  }
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  max-width: 100vw;
  margin: 0px auto;
  padding: 8px 0;
  position: sticky;
  top: 87px;
  z-index: 999; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  @include sm {
    padding: 9px 20px;
  top: 89px;

  }
}

.slider-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 85vw;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: flex;
  min-width: 100%;
  justify-content: space-around;

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(91, 91, 91);
    cursor: pointer;

    &_icon {
      font-size: 24px;
    }

    p {
      font-size: 12px;
      font-weight: 450;
    }

  }
}

.category {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
}

.selected {
  background: none; 
  color: inherit;
  border-bottom: 3px solid #ff385c; 
  padding-bottom: 5px; 
  transition: border-bottom 0.3s ease-in-out; 
}

.prev-button,
.next-button {
  border: 1px solid rgb(193, 193, 193);
  cursor: pointer;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  padding: 5px;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  }
}

.prev-button {
  left: 5.5vw;
}

.next-button {
  right: 5.5vw;
}

.empty-message {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 52vh; 
  font-size: 24px;
  margin: 10vh 0;
  font-weight: bold;
  color: $blue;

  img {
    width: 400px; 
    margin-bottom: 15px; 
  }
  @include sm {
    font-size: 20px;
  }
}

.listings {
  padding: 0 60px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;

  @include lg {
    padding: 0 20px 120px;
  }
}