@import "./variables.module.scss";

.listing-card {
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;

  .slider-container {
    width: 320px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;

    .slider {
      display: flex;
      transition: transform 0.5s ease;

      .slide {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        height: 290px;
        display: flex;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          filter: brightness(85%);
        }

        .prev-button,
        .next-button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding: 6px;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(255, 255, 255, 0.7);
          z-index: 9999;

          &:hover {
            background-color: white;
          }
        }

        .prev-button {
          left: 10px;
        }

        .next-button {
          right: 10px;
        }
      }
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 500;

  }

  p {
    font-size: 14px;
    color: rgb(111, 111, 111);
  }
  .price{
    font-size: 15px;
    color: rgb(49, 49, 49);
  }

  span {
    font-weight: 500;
    font-size: 16px;
    color: black;
  }

  .favorite {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 998;
    background: none;
  }
}