@import "./variables.module.scss";
@import "./breakpoints.module.scss";

.navbar {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: white;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);

  @include sm {
    padding: 10px 20px;
  }

  img {
    width: 130px;
    cursor: pointer;
    @include sm {
    width: 123px;
    }
  }

  &_search {
    border: 1px solid $grey;
    border-radius: 30px;
    height: 47px;
    padding: 0px 15px;
    display: flex;
    gap: 80px;
    align-items: center;
    transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  
    input {
      border: none;
      outline: none;
      width: 200px; 
      transition: width 0.5s ease-in-out;
    }
  
    &:hover {
      @include shadow;
    }
  
    @include md {
      gap: 5px;
      padding: 0px 8px;
      height: 43px;
      
      input {
        width: 85px; 
        font-size: 13px; 
      }
    }
  
    @include sm {
      gap: 7px;
      padding: 0px 8px;
      margin-right: 12px;
      height: 40px;
      
      input {
        width: 70px;
        font-size: 12px;
      }
    }
  }
  

  &_right {
    display: flex;
    align-items: center;
    gap: 20px;

    .host {
      text-decoration: none;
      color: $blue;
      font-weight: 500;
      margin-left: 15px;
      cursor: pointer;

      &:hover {
        color: $pinkred;
      }

      @include mm {
        display: none;
      }
    }

    &_account {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      border: 1px solid $grey;
      border-radius: 30px;
      display: flex;
      gap: 10px;
      background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      cursor: pointer;

      &:hover {
        @include shadow;
      }
      @include md {
        height: 45px;
        padding: 0 5px;
        gap: 5px;
  
        }

      @include sm {
      height: 43px;
      padding: 0 5px;
      gap: 5px;

      }

      img {
        width: 35px;
        height: 35px;
      }
    }

    &_accountmenu {
      position: absolute;
      background-color: white;
      right: 60px;
      top: 80px;
      display: flex;
      flex-direction: column;
      width: 200px;
      padding: 10px 0;
      border: 1px solid $lightgrey;
      border-radius: 20px;
      @include shadow;
      z-index: 9999;

      @include sm {
        right: 80px;
      }

      a {
        width: 100%;
        padding: 8px 15px;
        text-decoration: none;
        color: $blue;
        font-weight: 700;

        &:hover {
          color: $pinkred;
          background-color: rgba(217, 213, 213, 0.2);
        }
      }
    }
  }
}